/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url(../images/space-product-bg.jpg);
    background-color: black;
    text-align: center;
    text-transform: uppercase;
}

html p {
    letter-spacing: 8px;
    font-weight: 400;
}

body {
    margin: 0;
}


/*bg niet op github????? :((((( 
random kwam bg er wel maar de html is niet zwart onder de bg (dat zie je als je */
/*p onichtbaar (onder header) */

/*----------------------HEADER------------------*/



header {
    background-image: url(../images/space-product-bg.jpg);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
}

header img {
    height: 2.5em;
}

/* logo niet in het midden*/

header div img {
    height: 2.3em;
}

header div {
    padding-right: 15px;
}


nav {
    display: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vw;
    flex-direction: column;
}

/*pos fixed maakt alles kapot, bij idles site wel zo/
moet de hele achtergrond zwart maken, ruimtes tussen de text, midden op de pagina en niet verder scrollen*/

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
}

input {
    display: none;
}

input:checked ~ nav {
    display: block;
    top: 100%;
}

input:checked in html {
    background-color: black;
}

label {
    order: -1;
    padding-left: 15px;
}

/*label slecht klikbaar, vraag hulp*/

label span,
label span::before,
label span::after {
    display: block;
    height: 4px;
    width: 2.5em;
    background: white;
    border-radius: 2px;
    position: relative;
}

label span::before,
label span::after {
    content: '';
    position: absolute;
}

label span::before {
    bottom: 10px;
}

label span::after {
    top: 10px;
}


/*---------------------MAIN------------------------*/
main {
padding-top: 6em;
}

main p{
    margin-top: -0.5em;
}



main img {
    width: 60vw;
}

/* in het midden???? */

main section{
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

main a img{
    width: 6em;
}

main a{
    text-transform: none;
    font-size: 12px;
    text-decoration: none;
     color:#6c757d;    
    background-color:transparent;
    
}

main a:hover{
        background-color:transparent;
    text-decoration: underline;
     color:#6c757d;;
} 
