/* CSS Document */


/*vreemde prioriteit problemen opgelost met z-index*/


*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    color: white;
    background: url(../images/space-product-bg.jpg);
    background-attachment: fixed;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/noise.gif);
    opacity: 0.25;
    z-index: -1;
    background-size: 200px;
    background-repeat: repeat;
}

/* hoe krijg ik de overlay over header???*/

html main p {
    letter-spacing: 8px;
    font-weight: 400;
}

html a {
    text-decoration: none;
    font-family: "Arial Black", sans-serif;

}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

section {
    margin-bottom: 3em;

}


main {
    padding-top: 6em;
}

/* is ALTIJD GELIJK AAN HEADER HEIGHT */


/*----------------------HEADER------------------*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 6em;
    background-image: url(../images/space-product-bg.jpg);
    justify-content: space-between;
}

/* hoe krijg ik de overlay over header???*/
/* logo niet in het midden*/



header > img {
    height: 2.5em;
    cursor: pointer;
    left: 50%;
}


header div img {
    height: 2.3em;
    cursor: pointer;
}

header div:nth-of-type(2) {
    margin-right: 15px;
}

header div:first-of-type {
    margin-left: 15px;
    position: relative;
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

header div:first-of-type div {
    height: 4px;
    width: 2.5em;
    background: white;
    border-radius: 2px;
    border: 0;
    margin: 0;
}

header div:first-of-type div::before,
header div:first-of-type div::after {
    content: '';
    height: 4px;
    width: 2.5em;
    background: white;
    border-radius: 2px;
    position: absolute;
}

header div:first-of-type div::before {
    transform: translateY(-10px);
}

header div:first-of-type div::after {
    transform: translateY(10px);
}

/*-------------------------nav----------------*/
nav {
    display: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vw;
    top: 0;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 1em 0;
}


/*midden van de pagine hoogte????? */


nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
}

/*  Hoe krijg ik alles in het midden?
    hoe krijg ik spacing????

/*---------------------MAIN------------------------*/

main section:first-of-type; p {
    margin-top: -0.5em;
}


/* --------------SPAN BANNER---------------------*/
section span {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -2px;
    color: white;
    font-family: "Arial Black", sans-serif;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 1.5em;

}

section span::before {
    height: 1px;
    background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
    content: '';
    width: 50vw;
}

section span::after {
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #fff 100%);
    content: '';
    width: 50vw;
    margin-right: 0;
}

/*---------------------------KNOPPEN SECTION EIND------------*/
main section a {
    font-size: 1.25rem;
    padding: 8px 16px;
    color: white;
    letter-spacing: -1px;
    border: 1px solid white;
    white-space: nowrap;
}

main section a:hover {
    background-color: white;
    color: black;
}

main section:nth-child(1n+2) a {
    display: block;
    width: min-content;
    margin: auto;
}

/* ---------eerste section------------------*/

main section:first-of-type > img:first-of-type {
    margin-top: 3em;
}

main section:first-of-type > img:first-of-type, iframe {
    width: 60vw;

}

/* --------------YOUTUBE VIDEO---------------------*/
/*hoe scale ik deze dormaal????*/
iframe {
    height: 40vh;
    margin-bottom: 3em;
    margin-left: 15px;
    margin-right: 15px;
}

main section:first-of-type > a:first-of-type {
    background-color: white;
    color: black;
}


main section div a > img {
    height: 1.3em;
}


main section:first-of-type > div > a {
    border: none;
    padding: 0;
    margin: 0;
}

main section:first-of-type p {
    margin-bottom: 1em;
    margin-top: 1em;
}

main section:first-of-type > div > a:hover {
    border: none;
    background: none;
}

main section:first-of-type div {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

main section:first-of-type div a + a {
    margin-left: 1em;

}

main section:first-of-type > a:last-of-type {
    border: none;
    padding: 0;
    margin-top: 0.1em;
    font-family: Arial, sans-seriff;
    text-transform: none;
    font-size: 13px;
    color: #6c757d;
}

section:first-of-type > a:last-of-type:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #6c757d;
}




/*-------------------BUNDLES------------*/
section:nth-of-type(3) > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
}

section:nth-of-type(3) > div > article {
    /*overlay moet hier niet achter zichtbaar zijn:hoe? 
    still appears als ik op de Hmenu druk*/
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
}

/*overlay visible Hamburger menu open debug*/
/*DEBUG WAS EERST article z index -1, maar dat disabled een hover */
/*overlap debug */
article {
    z-index: 0;
}

header,
header img,
header div {
    z-index: 1;
}

/*----------------------------*/



section:nth-of-type(3) > div > article,
section:nth-of-type(3) div > article > img {
    height: 15em;
    width: 15em;
}

section:nth-of-type(3) > div > article > div {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

section:nth-of-type(3) div > article:hover > div {
    opacity: 0.6;
    text-align: center;
    transition: 1s ease-in-out;
    cursor: pointer;
}

section:nth-of-type(3) div > article:hover > img {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    transition-duration: 1s;
}

/*HOW TO ANIMATE BACK????*/


section:nth-of-type(3) > div > article > div > div {
    margin-top: 65%;
    /*    width: 85%;*/
}


/*hoe pas ik breedte aan, dat hij wel in het midden komt*/

section:nth-of-type(3) p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 0;
    margin-top: 1em;

}

section:nth-of-type(3) h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 900;
}

/*---------MERCHANDISE S4-------*/

section:nth-of-type(4) > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
}

section:nth-of-type(4) > div > article {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 2px;
}

section:nth-of-type(4) > div > article {
    height: 12em;
    width: 10em;
}

section:nth-of-type(4) div > article > img{
    height: 10em;
    width: 10em;
}

section:nth-of-type(4) div > article > a{
    padding: 0;
    border-style: none;
    font-size: 16px;
}

section:nth-of-type(4) div > article:hover > a{
    text-decoration: underline;
}

section:nth-of-type(4) div > article > a:hover{
  background-color: transparent;
    color: white;
}


/*---------------Footer---------*/
footer span a img {
    height: 32px;
}


footer span a + a {
    margin-left: 0.5em;
}

footer h2 {
    font-size: 32px;
    letter-spacing: -2px;
}

footer p {
    font-family: Arial, sans-seriff;
    text-transform: none;
    font-size: 16px;
    color: #6c757d;
}
